main .form {
  background-color: #fff;
  padding: var(--spacing-s);
  border-radius: var(--card-border-radius-l);
  filter: var(--image-filter-drop-shadow-small);
  margin:auto;
  width: 50%;
}

main .form h2 {
  padding: var(--spacing-s) 0;
  font-size: var(--type-heading-l-lh);
}

main .form h3 {
  padding-top: 5px;
  font-size: var(--type-heading-m-size);
}

main .form input,
main .form textarea,
main .form select {
  border: solid 1px grey;
  padding: 10px;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 15px;
  line-height: var(--type-body-s-lh);
  font-family: var(--body-font-family);
}

main .form textarea {
  min-height: 100px;
}

main .form input:hover,
main .form select:hover {
  border-color: grey;
}

main .form label {
  display: block;
  padding-bottom: var(--spacing-xxs);
  box-sizing: border-box;
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
}

main .form label.required::after {
  content: "*";
  color: var(--color-black);
  padding-left: var(--spacing-xxxs);
}

main .form .field-wrapper {
  margin-bottom: 10px;
}

main .form .form-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin: var(--spacing-xs) 0;
}

main .form .form-checkbox-wrapper input[type='checkbox'] {
  /* stylelint-enable */
  height: 20px;
  width: 20px;
  position: relative;
  padding: unset;
  margin-right: var(--spacing-xxs);
  margin-left: 0;
}

main .form .form-checkbox-wrapper input[type='checkbox']::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  content: ' ';
  background: url('./checkbox.svg');
  background-size: contain;
}

main .form .form-checkbox-wrapper input[type='checkbox']:checked::after {
  background: url('./checkbox-checked.svg');
  background-size: contain;
  content: ' ';
}

main .form .form-checkbox-wrapper label {
  display: block;
  font-size: var(--type-body-xxs-size);
  line-height: var(--type-body-xxs-lh);
  padding-bottom: 0;
}

main .form-legal-wrapper p {
  font-size: var(--type-body-xxs-size);
  line-height: var(--type-body-xxs-lh);
  font-style: italic;
}

main .form button {
  font-family: var(--body-font-family);
}

#registration {
    text-align: center;
    margin-bottom: 50px;
}

.form.share-your-story-form {
    margin-left: 0px;
}


.form-submit-wrapper button {
    background-color: #783384;
    cursor: pointer;
    position: relative;
    line-height: 1.7em !important;
    font-size: 20px;
    font-weight: normal;
    color: white;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: visible;
    border-radius: 0px;
    line-height: 3em;
}

.form-submit-wrapper button:disabled, .form-submit-wrapper button:disabled:hover {
    background-color: #783384;
}

.form-submit-wrapper button:after {
    content: "";
    position: absolute;
    border-bottom: 19px solid transparent;
    border-top: 17px solid transparent;
    height: 0px;
    width: 0px;
    margin-right: -10px;
    right: 0;
    border-left: 10px solid #783384;
}





@media screen and (min-width: 900px) {
  main .form {
    padding: var(--spacing-ml);
  }
  
  main .form .field-wrapper {
    display: flex;
  }

  main .form label {
    width: 100%;
  }
}

main .form.share-your-story-form {
    width: 60%;
}

main .form.share-your-story-form .form-text-wrapper, main .form.share-your-story-form .form-email-wrapper,
main .form.share-your-story-form .form-tel-wrapper {
    display: block;
}


.share-your-story-form .form-text-wrapper input, 
.share-your-story-form .form-email-wrapper input,
.share-your-story-form .form-tel-wrapper input,
.share-your-story-form .form-checkbox-wrapper input {
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #22874e;
    width: 75%;
}

.share-your-story-form .form-checkbox-wrapper label {
    padding-left: 8px;
}

.share-your-story-form .field-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
        
    main .form.share-your-story-form {
        width: 95%;
        margin: 0 auto;
    }
    
    .share-your-story-form .form-text-wrapper input, 
    .share-your-story-form .form-email-wrapper input,
    .share-your-story-form .form-tel-wrapper input,
    .share-your-story-form .form-checkbox-wrapper input {
       width: 100%;
    }

}