.accordion-btn {
    background-color: #fff;
    cursor: pointer;
    padding: 7px 3px 7px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    font-size: 21px;
    transition: 0.4s;
    font-weight: 700;
    border: solid 2px #d3d2d2;
    box-shadow: 5px;
    box-shadow: 0 0 10px #d3d2d2;
    font-family: roboto-slab, serif;
    font-size: 26px;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: left;
    color: #783384;
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: inherit;
}

.acc-img {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
}

.acc-txt {
    width: 91%;
    margin: 0 0 0 26px;
    padding: 12px 18px 12px 33px;
    border: solid 2px #f3f1ed;
    background-color: #f3f1ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
    margin-bottom: 20px;
}

.panel p:first-of-type {
    text-align: left;
    font-weight: 700;
    font-family: lato;
    padding-top: 20px;
}

.accordion-btn.active div.acc-txt {
    background-color: #763980 !important;
    color: #fff;
}

.accordion-btn .acc-txt:after {   
    font-weight: 400;
    margin-left: 5px;
    margin-top: 3px;
    float: right;
    color: #783384;
    font-size: 50px;
    line-height: 0.5;
    width: 24px;
    height: 25px;
    content: "";
    background: url(/icons/open-accordion.png) no-repeat;
}

.accordion-btn.active .acc-txt:after {
    float: right;
    width: 24px;
    height: 25px;
    margin-top: 5px;
    color: #fff;
    background: url(/icons/close-accordion.png) no-repeat;
    content: "";
    background-size: 22px;
}

.panel[aria-expanded="true"] {
    max-height: 439px;
}

.accordion-btn:hover, .accordion-btn.active {
    background-color: #fff;
}

.accordion-btn:active, .accordion-btn:focus, .accordion-btn:hover {
    border: solid 2px #d3d2d2;
    box-shadow: 5px;
    box-shadow: 0 0 10px #d3d2d2;
    outline: 0 auto #d3d2d2;
}

.my-health-with-my-risk h2 {
    font-size: 34px;
}

.accordion .button-container a.button {
    background-color: #783384;
    cursor: pointer;
    position: relative;
    font-size: 17px;
    font-weight: normal;
    color: white;
    border: none;
    padding: 0px;
    overflow: visible;
    border-radius: 0px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 3em;
}

.accordion .button-container  a.button:after {
    content: "";
    position: absolute;
    border-bottom: 26px solid transparent;
    border-top: 25px solid transparent;
    height: 0px;
    width: 0px;
    margin-right: -10px;
    right: 0;
    border-left: 10px solid #783384;
}


@media only screen and (max-width: 768px) {
    
    .panel[aria-expanded="true"] {
       max-height: 100%;
    }
    
    .accordion {
        width: 90%;
        margin: 0 auto;
    }
    
    .accordion-btn {
        font-size: 17px;
    }
    
    .acc-img {
        width: 9%;
    }
    
    .acc-txt {
        width: 80%;
        margin: 0 0 0 20px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 12px 19px;
    }

}