/* header and nav layout */
header {
    height: auto;
}

header .nav-wrapper {
    background-color: var(--background-color);
    width: 100%;
    z-index: 2;
    position: relative;
}

header nav {
    box-sizing: border-box;
    display: grid;
    grid-template:
        'hamburger brand tools' var(--nav-height)
        'sections sections sections' 1fr / auto 1fr auto;
    align-items: center;
    gap: 0 2em;
    margin: auto;
    max-width: 1264px;
    height: var(--nav-height);
    padding: 0 1rem;
    font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
    grid-template:
        'hamburger brand' var(--nav-height)
        'sections sections' 1fr
        'tools tools' var(--nav-height) / auto 1fr;
    overflow-y: auto;
    min-height: 100vh;
}

@media (width >= 600px) {
    header nav {
        padding: 0 2rem;
    }
}

@media (width >= 900px) {
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav[aria-expanded="true"] {
        min-height: 0;
        overflow: visible;
    }
}

header nav p {
    margin: 0;
    line-height: 1;
}

header nav a:any-link {
    color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    height: 22px;
    display: flex;
    align-items: center;
}

header nav .nav-hamburger button {
    height: 22px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--background-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

@media (width >= 900px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

/* brand */
header .nav-brand {
    grid-area: brand;
    flex-basis: 128px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
}

header nav .nav-brand img {
    width: 284px;
    height: auto;
}

/* sections */
header nav .nav-sections {
    grid-area: sections;
    flex: 1 1 auto;
    display: none;
    visibility: hidden;
    background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
    display: block;
    visibility: visible;
    align-self: start;
    margin-bottom: 10px;
}

header nav .nav-sections ul  {
    list-style: none;
    padding-left: 0;
    font-size: var(--body-font-size-s);
    font-weight: 500;
}

header nav .nav-sections ul > li {
    font-weight: 700;
}

header nav .nav-sections ul > li > ul {
    margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
    font-weight: 500;
}

@media (width >= 900px) {
    header nav .nav-sections {
        display: block;
        visibility: visible;
        white-space: nowrap;
    }

    header nav[aria-expanded="true"] .nav-sections {
        align-self: unset;
    }

    header nav .nav-sections .nav-drop {
        position: relative;
        //padding-right: 16px;
        cursor: pointer;
    }

    header nav .nav-sections .nav-drop::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 1em;
        right: 2px;
        transform: rotate(135deg);
        width: 6px;
        height: 6px;
        border: 2px solid currentcolor;
        border-radius: 0 1px 0 0;
        border-width: 2px 2px 0 0;
        padding: 3px;
        margin-right: 8px;
    }

    header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
        top: unset;
        bottom: 1em;
        transform: rotate(315deg);
    }

    header nav .nav-sections ul {
        display: flex;
        gap: 2em;
        margin: 0;
        font-size: var(--body-font-size-xs);
    }

    header nav .nav-sections .default-content-wrapper > ul > li {
        flex: 0 1 auto;
        position: relative;
        font-weight: 500;
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul {
        display: none;
        position: relative;
    }

    header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
        display: block;
        position: absolute;
        left: 0;
        width: 200px;
        margin-top: 75px;
        background-color: var(--light-color);
        white-space: initial;
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
        padding: 8px 0;
    }
}

/* tools */
header nav .nav-tools {
    grid-area: tools;
}

#nav {
    display: block;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}

li.menu-item:nth-child(1) {
    width: 33%;
    border-bottom: 6px solid #783384;
}
li.menu-item:nth-child(2) {
    width: 24%;
    border-bottom: 6px solid #f2c107;
}
li.menu-item:nth-child(3) {
    width: 23%;
    border-bottom: 6px solid #4ebce8;
}
li.menu-item:nth-child(4) {
    width: 13%;
    border-bottom: 6px solid #45b274;
}

.nav-brand {
    padding-bottom: 20px;
    padding-top: 20px;
}

.nav-sections .default-content-wrapper > ul {
    display: flex;
}

.nav-sections .default-content-wrapper > ul > li.menu-item {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #783384;
    text-align: center;
}


.nav-sections .default-content-wrapper > ul > li.menu-item div {
    background-color: #ccc;
    margin-bottom: 5px;
}

.nav-sections .default-content-wrapper > ul > li.menu-item div:hover {
    background-color: #783384;
    color:#FFF;
}

.nav-sections .default-content-wrapper > ul > li.menu-item:hover {
    color: #FFF;
}

.nav-sections .default-content-wrapper > ul.nav-drop > li:hover {
    background-color: #783384;
    color:#FFF;
}

.nav-sections .default-content-wrapper > ul > li a {
    text-decoration: none;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.nav-sections .default-content-wrapper > ul > li > ul > div {
    margin-bottom: 3px;
}

header nav .nav-sections .default-content-wrapper ul li.nav-drop ul {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

header nav .nav-sections .default-content-wrapper ul li.nav-drop ul li{
    border-bottom: 4px solid #fff;
}


@media only screen and (max-width: 768px) {

    .nav-sections .default-content-wrapper > ul {
        display: block;
    }

    li.menu-item:nth-child(1), li.menu-item:nth-child(2), li.menu-item:nth-child(3), li.menu-item:nth-child(4) {
        width: 100%;
    }

    .nav-sections {
        z-index: 4;
        position: absolute;
        width: 100%;
        background: black;
    }

    header .nav-wrapper {
        background-color: var(--background-color);
        width: 100%;
        z-index: 2;
        position: inherit;
    }

    .nav-sections .default-content-wrapper > ul > li.menu-item {
        background: #444b50;
        color: #fff;
    }

    .nav-sections .default-content-wrapper > ul > li.menu-item div {
        background:none;
    }

    li.menu-item:nth-child(1), li.menu-item:nth-child(2), li.menu-item:nth-child(3), li.menu-item:nth-child(4) {
        border-bottom: 3px solid #fff;
    }

    header nav .nav-sections .default-content-wrapper ul li.nav-drop ul {
        margin-bottom: 0px;
    }
    
    header nav .nav-sections .default-content-wrapper ul li.nav-drop[aria-expanded="false"] ul {
        display:none;
    }

    .nav-hamburger {
        float: right;
    }

    .nav-hamburger button {
        background-color: #783384;
        padding: 8px;
        color: #fff;
        width: 39px;
        height: 35px;
        text-align: center;
    }
    
    header nav .nav-sections .default-content-wrapper ul li.nav-drop[aria-expanded="true"] ul {
        display: block;
    }
    
    header nav .nav-sections .default-content-wrapper ul li.nav-drop ul li {
        border-bottom: none;
    }
    
    .nav-brand {
        padding-bottom: 20px;
        padding-top: 15px;
        padding-left: 20px;
    }
    
    header nav .nav-hamburger {
        display:block;
    }
    
    header nav .nav-brand img {
        width: 200px;
    }
    
    header nav[aria-expanded="true"] .nav-hamburger button {
        padding-top:14px;
    }
}