/* general block styles */
main .section.banner-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-banner-main {
    display: flex;
}

.image-banner-image {
    width: 30%;
}

.image-banner-text {
    width: 70%;
    padding-left: 30px;
}

.image-banner-text h2 {
    font-size: 34px;
}

.image-banner-text h1 {
    color: #783384;
    font-size: 40px;
}

.image-banner-text p {
    font-size: 20px;
}

.image-banner-text a {
    background-color: #783384;
    cursor: pointer;
    position: relative;
    line-height: 2em;
    font-size: 17px;
    font-weight: normal;
    color: white;
    border: none;
    padding: 14px;
    overflow: visible;
    border-radius: 0px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 3em;
}

.image-banner-text a:after {
    content: "";
    position: absolute;
    border-bottom: 26px solid transparent;
    border-top: 25px solid transparent;
    height: 0px;
    width: 0px;
    margin-right: -10px;
    right: 0;
    border-left: 10px solid #783384;
}



/* custom */

.sai .image-banner-text {
    width: 55%;
    padding-right: 200px;
    padding-left: 0px;
}

.sai .image-banner-text ul:nth-of-type(1) li::marker {
    color: red;
}

.sai .image-banner-text ul:nth-of-type(2) li::marker {
    color: green;
}

.sai .image-banner-text ul:nth-of-type(3) li::marker {
    color: skyblue;
}

.sai .image-banner-image {
    width: 45%;
    text-align:center;
}

.saigameplan .image-banner-image {
    padding-top: 50px;
}

.wppgameplan .image-banner-image {
    padding-top: 50px;
}

.hero.understand-your-risk .banner-text h4 {
    font-size: 18.image-banner-text apx;
    position: relative;
    top: 30px;
}    
    
.hero.understand-your-risk .banner-text h4 a {
    color: #783384;
}


.share-your-story .image-banner-text {
    width: 35%;
    padding-left: 0px;
}

.share-your-story .image-banner-image {
    width: 65%;
    display: flex;
    padding-left: 70px;
}

.share-your-story .image-banner-text h2 {
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: #22874e;
    width: 90%;
}

.share-your-story .image-banner-text a {
    background-color: transparent;
    color: #783384;
    padding: 0;
    line-height: 1px;
    margin: 0;
}

.share-your-story .image-banner-text a:after {
    display: none;
}


@media only screen and (max-width: 768px) {
    .image-banner-main {
        display: block;
        padding: 10px;
    }

    .image-banner-image {
        width: 100% !important;
        text-align: center;
        margin: 0 auto !important;
    }

    .image-banner-text {
        width: 100% !important;
        padding-left: 0px;
        text-align: center;
    }

    .sai .image-banner-text {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .sai .image-banner-text ul {
        text-align: left;   
    }

    .sai .image-banner-image {
        width: 100%;
    }
    
    
    .hero.understand-your-risk .banner-text {
        width: 100%;
    }
    
    .hero.understand-your-risk .banner-text h1 {
        width: 50%;
    }
    
    .hero.understand-your-risk .banner-text h4 {
        font-size: 16px;
        position: relative;
        top: 30px;
    }    
    
    .hero.understand-your-risk .banner-text h4 a {
        color: #783384;
    }
    
    .wppgameplan .image-banner-image {
        padding-top: 0px;
    }
    
    .share-your-story .image-banner-text {
        padding-left: 0;
    }
    
    .share-your-story .image-banner-image {
        display: block;
        padding-left: 0px;
    }
}

    .understand-your-risk .image-banner-text {
        width: 50%;
    }

    .understand-your-risk .image-banner-image {
        width: 50%;
        display: flex;
        margin: 5% 0% 0 5%;
    }
