.videobanner-container .video-banner {
    width: 50%;
    position: relative;
    max-width: 600px;
    height: 299px;
    padding: 0;
    margin-top: 45px;
    display: inline-block;
}

.banner-what-is-pneumonia {
    position: relative;
    display: flex;
}

@media only screen and (min-width: 1200px) {
    .videobanner-container {
        padding: 30px 40px;
        background-image: linear-gradient(to top, #fbfbfb, #fff);
        padding-bottom: 30px !important;
    }
}


@media only screen and (min-width: 769px) {
.pneumonia-banner {
    width: 50%;
    display: inline-block;
    padding: 35px 50px;
}
}

@media only screen and (max-width: 768px) {

    .videobanner-container .video-banner {
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    
    .pneumonia-banner {
        width: 100%;
        display: inline-block;
    }
    
    .banner-what-is-pneumonia {
        display: block;
        text-align: center;
        margin: 13px;
    }

}

.banner-text-home h1 {
    font-family: Lato;
    font-size: 34px;
    color: #783384;
}

.banner-text-home p {
    font-family: Lato;
    font-size: 20px;
}

video {
    width: 100%;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .banner-what-is-pneumonia {
          margin: 10px;
      }
      
      .pneumonia-banner {
        padding: 10px 50px;
       }
  }